@charset "utf-8";
/* CSS Document */

@media (min-width: 240px) and (max-width: 480px){ 
body{
	background:#fff;
}
.container{
	width:100%;
}
.login-page {
 width: 70%; 
 margin:auto;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #e7e7e7;
background: #fff;
/* color: #000; */
}
.navbar-default .navbar-nav>li>a {
color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #777;
display: block;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #fff;
background:#019090;
border-radius:3px;

}
.navbar-default .navbar-nav>li>a:hover {
color: #fff;
background:#019090;
}
.form>fieldset {
width: 100%;
margin-top:20px;
border:1px dashed #019090;
	box-shadow:4px 4px 2px #ddd;
}	
.form-control{
	width:100%;
}
.table-form>fieldset {
width:98%;
margin: 0px auto;
border: 1px dashed #019090;
box-shadow: 4px 4px 2px #ddd;
padding: 10px 15px 25px 15px;
margin-top: 30px;
}
.form-client>fieldset {
width: 98%;
margin: 0px auto;
border: 1px dashed #019090;
box-shadow: 4px 4px 2px #ddd;
padding: 0px 10px;
}
.user-form {
float: left;
width: 90%;
margin-right: 9px;
padding: 0px 20px;
}
.login-page>fieldset {
border: 1px dashed #019090;
padding: 20px 30px;
box-shadow: 4px 4px 2px #ddd;
margin-top: 20px;
}
.nav-2-sec>fieldset {
width:95%;
margin: 0px auto;
border: 1px dashed #019090;
box-shadow: 4px 4px 2px #ddd;
padding: 0px 10px;
}
.view-client>fieldset {
width: 98%;
}
.head-view-client{
	float:left;
}
.user-form-footer {
float: left;
width: 90%;
margin: 0px auto;
margin-top: 50px;
margin-left: 35px;
}
.user-form-footer1 {
width: 98%;
margin: 0px auto;
padding-top: 15px;
}
}