{% extends 'home.html' %}
{% block stage %}
<div class="container view-client">
  <fieldset>
    <legend>{{ client.first_name}}</legend>
    <div class="head-view-client">
      <ul>
        <li><a href="{% url 'micro_admin:createclient' %}"><i class="fa fa-pencil-square-o home-color"></i>Edit</a></li>
        <li><a href="#"><i class="fa fa-arrow-right home-color"></i>Transfer Client</a></li>
        <li><a href="{% url 'micro_admin:updateclientprofile' client.id %}"><i class="fa fa-file-image-o home-color"></i>Update Profile</a></li>
        <li><a href="{% url 'micro_admin:deleteclientprofile' client.id %}"><i class="fa fa-trash-o home-color"></i>Delete</a></li>
      </ul>
    </div>
    <div class="image">
      <label for="inputEmail3" class="col-sm-12 control-label">User Profile</label>
      <img src="/{{client.photo}}/"  /><br>
      <div class="col-lg-12 h-li"><a href="{% url 'micro_admin:clientprofile' client.id %}" id="signature" value="/{{client.signature}}/">View Client Signature</a></div>
      <label for="inputEmail3" class="col-sm-6 control-label">Joining Date</label>
      <label for="inputEmail3" class="col-sm-6 control-label">{{ client.joined_date}}</label>
      <label for="inputEmail3" class="col-sm-6 control-label">Belongs To</label>
      <label for="inputEmail3" class="col-sm-6 control-label">{{ client.branch.name}}</label>
    </div>
  </fieldset>
</div>
<!--content-->
</div>
<!--body ends above-->
</div>
<script src="/static/js/my-script.js"></script>
<script>
$(document).ready(function()
{
  $('#signature').click(
      function(e)
      {
        e.preventDefault();
        alert('<h1> dfsef</h1>')
      }
    )
});

</script>
{% endblock %}