{% extends 'home.html' %}
{% block stage %}
<!--content-->
<div class="container form-client">
  <div class="col-lg-offset-1 col-lg-3 col-lg-offset-3 form-client">
    <fieldset>
      <legend>Create Group</legend>
      <form class="form-horizontal" role="form" action="/creategroup/" method="post">
      {% csrf_token %}
        <div class="user-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Name<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control query-style" id="inputEmail3" name="name" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Activation Date<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control query-style" id="dateepicker" name="activation_date" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Branch<span>*</span></label>
            <div class="col-sm-8">
              <select class="form-control query-style" name="branch" required="True">
                <option>Select Branch</option>
                {% for branch in branches %}
                <option value="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor%}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Add Clients<span>*</span></label>
            <div class="col-sm-8">
              <div class="my-table">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th>Select</th>
                        <th>Client Name</th>
                        <th>Branch Name</th>
                      </tr>
                      {% for client in clients %}
                      <tr>
                        <td><input type="checkbox" name="clients" value="{{ client.id }}"></td>
                        <td>{{client.first_name}}</td>
                        <td>{{client.branch.name}}</td>
                      </tr>
                      {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Account-type<span>*</span></label>
            <div class="col-sm-8">
              <select class="form-control query-style" name="account_type" required="True">
                <option>Select Account Type</option>
                <option>SavingsAccount</option>
                <option>LoanAccount</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Account Number<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control query-style" id="inputEmail3" name="account_number" required="True">
            </div>
          </div>
        </div>
        <br clear="all" />
        <div class="user-form-footer1">
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <i class="fa fa-check submit-icon"></i>
              <input type="submit" value="Submit"  class="submit-btn" >
              <i class="fa fa-times submit-icon"></i>
              <input type="reset" value="Cancel"  class="cancel-btn" >
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<!--content-->
<script src="/static/js/my-script.js"></script>
{% endblock %}