<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home Page</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- your style sheet-->
    <link rel="stylesheet" href="/static/css/my_style.css" />
    <link rel="stylesheet" href="/static/css/mobile.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <!--your style sheet-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="row mar1">
          <div class="container">
            <!--nav bar-->
            <div class="menuu">
              <div class="bs-example box-menu">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Logo</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'micro_admin:login' %}" class="menu-link home"><i class="fa fa-home home-color"></i>Home</a></li>
                        <li><a href="#"><i class="fa fa-money home-color"></i>Accounting</a></li>
                        <li><a href="#"><i class="fa fa-area-chart home-color"></i>Reports</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench home-color"></i>Admin<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'micro_admin:userslist' %}">Users</a></li>
                            <li><a href="{% url 'micro_admin:createbranch'%}">Branch</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}}<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-user icon"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog icon"></i>Settings</a></li>
                            <li><a href="{% url 'micro_admin:logout' %}"><i class="fa fa-power-off icon"></i>logout</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                  </div>
                  <!-- /.container-fluid -->
                </nav>
              </div>
            </div>
            <!--nav bar ends-->
          </div>
        </div>
      </header>
      <!--body starts here-->
      <div class="row mar1">
        <!--slide bar-->
        <div class="slide-bar">
          <ul>
            <li>
              <a href="#" class="anchor-side-bar">
              <span>Search</span>
              <i class="fa fa-search slide-icon"></i>
              </a>
            </li>
            <li>
              <a href="{% url 'micro_admin:centerslist' %}" class="anchor-side-bar">
              <span>Center</span>
              <i class="fa fa-map-marker user-icon"></i>
              </a>
            </li>
            <li>
              <a href="{% url 'micro_admin:groupslist' %}" class="anchor-side-bar">
              <span>Group</span>
              <i class="fa fa-users user-icon"></i>
              </a>
            </li>
            <li>
              <a href="{% url 'micro_admin:createclient' %}" class="anchor-side-bar">
              <span>Client</span>
              <i class="fa fa-user users-icon"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--slide bar-->
      </div>
      <!--body ends above-->
      {% block stage %}
      {% endblock %}
    </div>
    <script src="/static/js/my-script.js"></script>
  </body>
</html>