{% extends 'base.html' %}
{% block stage %}
<div class="wrapper">
  <!--body starts here-->
  <div class="row mar1">
    <div class="container">
      <div class="login-page">
        <fieldset>
          <legend>Login</legend>
          <form id="loginform" role="form" method="post">
            {% csrf_token %}
            <div class="form-group ">
              <label for="exampleInputEmail1" class="color-text">User Name</label>
              <input type="Text" name="user_name" class="text-style" >
            </div>
            <div class="form-group ">
              <label for="exampleInputEmail1" class="color-text">Password</label>
              <input type="password" name="user_password" class="text-style" >
            </div>
            <div id="error">
            </div>
            <div class="btns">
              <i class="fa fa-check-square-o tick-icon"></i>
              <input type="submit" value="Login"  class="login-btn" >
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
  <!--body ends above-->
</div>
<script src="/static/js/my-script.js"></script>
<script type="text/javascript">
  $(".login-btn").click(function(e) {
    e.preventDefault();
    $.post("/microfinanceadmin/login/", $("form#loginform").serialize(), function(data) {
      if (data.error){
        $("p.error").remove();
        $("#error").prepend("<p class='error'>"+data.message+"</p>");
      }else{
        window.location = '.' ;
      }
      
      
    }, 'json');
    
  });
  
</script>
{% endblock %}