{% extends 'home.html' %}
{% block stage %}
<!--content-->
            	 <div class="container form">
			<div class="col-lg-offset-3 col-lg-3 col-lg-offset-3 form">
                <fieldset>
                <legend>{{client.first_name}}</legend>
	                <form class="form-horizontal" role="form" action="{% url 'micro_admin:updateclientprofile' client.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token  %} 
                          <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Upload Image</label>
                                <div class="col-sm-8 browse-btn-div">
                                 	<input type="file" value="Browse" class="browse-btn" name="photo">
                                
                                </div>
 						   </div>
                           <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Upload Signature</label>
                                <div class="col-sm-8 browse-btn-div">
                                 	<input type="file" value="Browse"  class="browse-btn" name ="signature">
                                </div>
 						   </div>
                           
                           
                          
                          <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                            	<i class="fa fa-check submit-icon"></i>
                             	<input type="submit" value="Submit"  class="submit-btn" >
                                
                                <i class="fa fa-times submit-icon"></i>
                             	<input type="reset" value="Cancel"  class="cancel-btn" >
 
                            </div>
                          </div>
                	</form>
                </fieldset>
            </div>
            </div>
            
            <!--content-->
         </div>
         <!--body ends above-->
      </div>
      <script src="/static/js/my-script.js"></script>
   </body>
</html>
{% endblock %}